<!-- Open Graph data -->
<meta property="og:title" content="The Cyber Sentinels Club" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://cybersentinels.org" />
<meta property="og:image" content="https://cybersentinels.org/img/An_image_of_a_stylized_shield_or_emblem_with_the_out.png" />
<meta property="og:description" content="The mission of The Cyber Sentinel Club is to create a community of cyber and IT professionals who are committed to sharing knowledge and collaborating on new ideas, projects, and learning opportunities. " />
<meta property="og:site_name" content="The Cyber Sentinels Club" />
<meta property="article:published_time" content="2013-09-17T05:59:00+01:00" />
<meta property="article:modified_time" content="2013-09-16T19:08:47+01:00" />
<meta property="article:section" content="Article Section" />
<meta property="article:tag" content="Article Tag" />