<meta name="twitter:card" content="summary_large_image">
{{ if ne .IsHome }}
<meta name="twitter:image:width" content="$.">
<meta name="twitter:image:height" content="600">
{{ end }}
{{ if .Site.twitter }}
<meta name="twitter:site" content="{{ .Site.twitter }}">
<meta name="twitter:creator" content="{{ .Site.twitter }}">
{{ end }}
<meta name="twitter:title" content="The Cyber Sentinels Club">
<meta name="twitter:description" content="The mission of The Cyber Sentinel Club is to create a community of cyber and IT professionals who are committed to sharing knowledge and collaborating on new ideas, projects, and learning opportunities.">

<meta name="twitter:image:src" content="https://cybersentinels.org/img/An_image_of_a_stylized_shield_or_emblem_with_the_out.png">